body {
  background-color: navajowhite;
}

.navBar {
  display: inline-block;
}

.thumbnail {
  height: 500px;
}

.imgSize {
  width: 100%;
  margin: 0 auto;
}

.border {
  border: 1px solid green;
  background-color: tomato;
}